* {
	margin: 0;
	padding: 0;
}
.headerImage {
	color: white;
	background: url(slike/redbull.jpg);
	width: 100%;
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	position: fixed;
}
.sredina {
	text-shadow: 2px 2px 2px #ce5937;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
.ticket {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
